---
layout: default
---
{% assign author = site.authors[page.author] %}
<section class="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date_to_long_string }}
        </time>
      </h5>
    </div>
    <div class="meta"><span class="written-by">Written by</span><a class="author" href="https://twitter.com/{{ author.twitter }}"><img class="img-author" src="https://s.gravatar.com/avatar/{{ author.gravatar }}?s=160" width="80px"><span class="author-name">{{ author.display_name }}</span></a></div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <div itemprop="articleBody">
      {{ content }}
    </div>
    <div class="feat share">
      <a href="http://twitter.com/share" class="popup">
        <span class="icon-twitter"></span>
      </a>
    </div>
    {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
        <span class="nav-title nav-title-next">newer</span> &rarr;
      </a>
    {% endif %}
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
        &larr; <span class="nav-title nav-title-prev">older</span>
      </a>
    {% endif %}
  </article>
</section>
